services:
  grafana:
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SERVER_DOMAIN=Tenantra.homsi-co.com
      - GF_SERVER_HTTP_PORT=3000
      - GF_SERVER_ROOT_URL=https://Tenantra.homsi-co.com/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true

  backend:
    environment:
      - GRAFANA_USER_FILE=/run/secrets/grafana_admin_user
      - GRAFANA_PASS_FILE=/run/secrets/grafana_admin_password
    secrets:
      - source: grafana_admin_user
        target: grafana_admin_user
        mode: 0400
      - source: grafana_admin_password
        target: grafana_admin_password
        mode: 0400

secrets:
  grafana_admin_user:
    file: ../secrets/grafana_admin_user.txt
  grafana_admin_password:
    file: ../secrets/grafana_admin_password.txt
